.padded {
  padding: 16px;
}

.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100vw;
  z-index: 100;

  .dialog-content {
    position: relative;
    width: 80vw;
    max-width: 420px;
    top: 15vh;
    margin: 0 auto;
    box-shadow: 4px 4px 6px #424242;
    z-index: 300;
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    transition: transform 0.3s, opacity 0.2s;
    transform: scale(.5);
    opacity: 0;

    .header {
      .title {
        .padded;
        font-size: 18px;
        font-weight: 700;
        display: block;
      }

    }

    .body {
      .padded;
    }

    .actions {
      .padded;
      text-align: right;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
    transition: opacity 0.2s;
  }
}

.dialog.open {
  .dialog-content {
    transform: scale(1);
    opacity: 1;
  }
  &:after {
    opacity: 0.6;
  }
}

.dialog.visible {
  left: 0;
}