@import 'appbar';
@import "../_partials";

.navigation-drawer {

  .header {
    padding: 8px 16px;
    height: 150px;
    position: relative;
    background: #eee;
  }

  .title {
    position: absolute;
    font-size: 24px;
    bottom: 8px;
  }

  .nav .link {
    @height: 48px;
    display: block;
    width: 100%;
    height: @height;
    padding: 8px 16px;
    text-decoration: none;
    color: #212121;
    &:hover {
      background-color: #f5f5f5;
    }
  }

  .icon, .label {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    font-size: 15px;
    font-weight: 500;
  }

  .icon {
    .square(24px);
    margin-right: 8px;
  }
}

.noscroll {
  overflow: hidden;
}

@media screen and (max-width: 1279px) { //Collapsed layout (smaller screens)
  .navigation-drawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 300;
    .drawer-content {
      position: relative;
      top: 0;
      left: 0;
      width: 85%;
      background: #fff;
      height: 100%;
      overflow-y: auto;
      max-width: 360px;
      will-change: transform;
      transform: translateX(-85vw);
    }

    &:before {
      content: '';
      display: block;
      background-color: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      will-change: opacity;
    }
  }

  .navigation-drawer.animating {
    .drawer-content { transition: transform 0.4s ease; }
    &:before { transition: opacity 0.4s; }
  }

  .navigation-drawer.visible {
    pointer-events: auto;

    &:before {
      opacity: 0.6;
      transition-delay: 0.2s;
    }

    .drawer-content {
      transform: translateX(0vw);
    }
  }
}

@media screen and(min-width: 1280px) { //Expanded layout for desktop displays
  .drawer-layout {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: table;
  }
  .app-bar {
    .nav-button {
      transform: translateX(-80px);
    }
    .title {
      transform: translateX(-42px); //Width of the .nav-button element (appbar.less)
    }
  }

  .navigation-drawer, .main-content {
    display: table-cell;
  }

  .navigation-drawer {
    width: 15vw;
    max-width: 240px;
    .drawer-content { height: 100%; }
  }

  .main-content {
    width: 70vw;
    vertical-align: top;
  }
}
