@import "../_partials";

/* Buttons */
@blue: #2196F3;

.btn, .btn-raised {
  display: inline-block;
  line-height: 32px;
  padding: 0 16px;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: @blue;
  text-decoration: none;
  cursor: default;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  box-sizing: border-box;
  min-width: 88px;
}

.btn {
  background-color: #fff;
  transition: background-color 0.2s;
  border: none;
}

.btn-raised {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px #E0E0E0;
  transition: box-shadow 0.2s;
}

.btn.disabled, .btn-raised.disabled, input[disabled], button[disabled] {
  color: #BDBDBD;
}

.btn-raised.disabled, input[disabled], button[disabled] {
  box-shadow: none;
  border: 1px solid #eee;
}

/* Input Elements */

.text-input, textarea {
  display: inline-block;
  font-family: 'Roboto', 'Arial', 'Verdana', 'sans-serif';
  border-radius: 2px;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  box-sizing: border-box;
}

select {
  display: inline-block;
}

/* Input elements inside of .field wrappers */

.field {
  padding: 16px 0;

  .errors {
    display: none;
  }

  .errors.visible {
    display: block;
  }

  .error {
    font-style: italic;
    color: #E53935;
  }

  label, .label {
    font-weight: bold;
    display: block;
  }
}

.field.required {
  label:before {
    content: '* ';
    color: #E53935;
  }
}

.field.checkbox {
  label {
    background: url("../icons/checkbox-empty.svg") no-repeat;
  }

  input:checked + label {
    background: url("../icons/checkbox-checked.svg") no-repeat;
  }
}

.field.radio {
  label {
    background: url("../icons/radio-empty.svg") no-repeat;
  }

  input:checked + label {
    background: url("../icons/radio-checked.svg") no-repeat;
  }
}


.field.checkbox, .field.radio {
  padding: 0;

  input {
    position: absolute;
    left: -999px;
  }
  .title {
    font-size: 16px;
    margin-bottom: 8px;
  }
  label {
    margin-bottom: 8px;
    height: 32px;
    padding-left: 18px;
    padding-right: 16px;
    line-height: 32px;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: 400;
    display: block;
  }

  input + label, input:checked + label {
    background-position: 0 8px;
    background-size: 16px;
  }
}

.field.inline {
  display: inline-block;
  margin-right: 8px;
  &:last-of-type {margin-right: 0}
}

.checkbox.inline, .radio.inline {
  display: inline-block;
  label {
    display: inline-block;
  }
}


/* Mobile Screens */

@media screen and(max-width: 768px){

  .btn:active {
    background-color: darken(#fafafa, 10%);
    outline: none;
  }

  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }

  .field {
    .errors.visible {
      margin-top: 8px;
    }

    .error {
      font-size: 13px;
    }

    .text-input, textarea {
      display: block;
      width: 100%;
      padding: 10px;
    }

    label {
      margin-bottom: 8px;
    }

    select {
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }
}

@media screen and(min-width: 769px) {

  .btn {
    transition: background-color 0.2s;
  }

  .btn:hover {
    background-color: #fafafa;
  }

  .btn:active {
    background-color: darken(#fafafa, 10%);
    outline: none;
  }

  .btn-raised:hover {
    box-shadow: 0 4px 4px #e0e0e0;
  }

  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }

  .btn-raised.disabled:hover, input[disabled]:hover, button[disabled]:hover {
    box-shadow: none;
  }

  .btn.disabled:hover {
    background-color: transparent;
  }

  .field {
    .errors.visible {
      margin-top: 4px;
    }

    .error {
      font-size: 12px;
    }

    label {
      margin-bottom: 8px;
    }

    .text-input, textarea {
      padding: 6px;
      font-size: 14px;
    }

    select {
      display: inline-block;
      padding: 6px;
      font-size: 14px;
    }
  }


}

