.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/* Buttons */
.btn,
.btn-raised {
  display: inline-block;
  line-height: 32px;
  padding: 0 16px;
  font-size: 12px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #2196F3;
  text-decoration: none;
  cursor: default;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  box-sizing: border-box;
  min-width: 88px;
}
.btn {
  background-color: #fff;
  transition: background-color 0.2s;
  border: none;
}
.btn-raised {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px #E0E0E0;
  transition: box-shadow 0.2s;
}
.btn.disabled,
.btn-raised.disabled,
input[disabled],
button[disabled] {
  color: #BDBDBD;
}
.btn-raised.disabled,
input[disabled],
button[disabled] {
  box-shadow: none;
  border: 1px solid #eee;
}
/* Input Elements */
.text-input,
textarea {
  display: inline-block;
  font-family: 'Roboto', 'Arial', 'Verdana', 'sans-serif';
  border-radius: 2px;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  box-sizing: border-box;
}
select {
  display: inline-block;
}
/* Input elements inside of .field wrappers */
.field {
  padding: 16px 0;
}
.field .errors {
  display: none;
}
.field .errors.visible {
  display: block;
}
.field .error {
  font-style: italic;
  color: #E53935;
}
.field label,
.field .label {
  font-weight: bold;
  display: block;
}
.field.required label:before {
  content: '* ';
  color: #E53935;
}
.field.checkbox label {
  background: url("../icons/checkbox-empty.svg") no-repeat;
}
.field.checkbox input:checked + label {
  background: url("../icons/checkbox-checked.svg") no-repeat;
}
.field.radio label {
  background: url("../icons/radio-empty.svg") no-repeat;
}
.field.radio input:checked + label {
  background: url("../icons/radio-checked.svg") no-repeat;
}
.field.checkbox,
.field.radio {
  padding: 0;
}
.field.checkbox input,
.field.radio input {
  position: absolute;
  left: -999px;
}
.field.checkbox .title,
.field.radio .title {
  font-size: 16px;
  margin-bottom: 8px;
}
.field.checkbox label,
.field.radio label {
  margin-bottom: 8px;
  height: 32px;
  padding-left: 32px;
  padding-right: 16px;
  line-height: 32px;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: 400;
  display: block;
}
.field.checkbox input + label,
.field.radio input + label,
.field.checkbox input:checked + label,
.field.radio input:checked + label {
  background-position-x: left;
  background-position-y: 4px;
}
/* Mobile Screens */
@media screen and (max-width: 768px) {
  .btn:active {
    background-color: #e1e1e1;
    outline: none;
  }
  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }
  .field .errors.visible {
    margin-top: 8px;
  }
  .field .error {
    font-size: 13px;
  }
  .field .text-input,
  .field textarea {
    display: block;
    width: 100%;
    padding: 10px;
  }
  .field label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .field select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) {
  .btn {
    transition: background-color 0.2s;
  }
  .btn:hover {
    background-color: #fafafa;
  }
  .btn:active {
    background-color: #e1e1e1;
    outline: none;
  }
  .btn-raised:hover {
    box-shadow: 0 4px 4px #e0e0e0;
  }
  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }
  .btn-raised.disabled:hover,
  input[disabled]:hover,
  button[disabled]:hover {
    box-shadow: none;
  }
  .btn.disabled:hover {
    background-color: transparent;
  }
  .field .errors.visible {
    margin-top: 4px;
  }
  .field .error {
    font-size: 12px;
  }
  .field label {
    margin-bottom: 8px;
  }
  .field .text-input,
  .field textarea {
    padding: 6px;
    font-size: 14px;
  }
  .field select {
    display: inline-block;
    padding: 6px;
    font-size: 14px;
  }
  .field.inline {
    display: inline-block;
    margin-right: 8px;
  }
  .field.inline:last-of-type {
    margin-right: 0;
  }
  .checkbox.inline,
  .radio.inline {
    display: inline-block;
  }
  .checkbox.inline label,
  .radio.inline label {
    display: inline-block;
  }
}
