.navigation-drawer {
  position: fixed;
  left: -100vw;
  top: 0;
  z-index: 300;
  width: 100%;
  height: 100%;
  transition: left 0s linear 0.6s;

  .drawer-content {
    z-index: 200;
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    max-width: 360px;
    transform: translateX(-85vw);
    transition: transform 0.6s ease;
  }

  .header {
    padding: 8px;
    height: 150px;
    position: relative;
    //background: #eee url('http://placehold.it/320/320') no-repeat center;
    background: #eee;

    .title {
      position: absolute;
      font-size: 24px;
      bottom: 8px;
    }
  }

  .nav-links li a {
    @height: 48px;
    display: block;
    width: 100%;
    height: @height;
    padding: 8px;
    text-decoration: none;
    color: #212121;
    .icon, .label{
      display: inline-block;
      vertical-align: middle;
      line-height: 32px;
      font-size: 15px;
      font-weight: 500;
    }
    .icon {
      margin-right: 8px;
    }
  }

  .overlay {
    z-index: 100;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear 0.2s;
  }
}

.navigation-drawer.visible {
  left: 0;
  transition-delay: 0s;

  .overlay {
    opacity: 0.6;
    transition-delay: 0s;
  }

  .drawer-content {
    transform: translateX(0);
    box-shadow: 2px 0 5px #212121;
    transition: transform 0.2s ease 0.1s, box-shadow 0.2s linear 0.3s;
  }
}