@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
/*@font-face {
    font-family: 'Roboto';
    url('../fonts/roboto-400.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
url('../fonts/roboto-500.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
url('../fonts/roboto-700.woff2') format('woff2');
    font-weight: 700;
}*/

body {
    font-family: 'Roboto','Arial', 'sans-serif';
    font-size: 13px;
    font-weight: 400;
}


.text-button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.text-caption {
    font-size: 12px;
}

.text-display-1 {
    font-size: 34px;
}

.text-display-2 {
    font-size: 45px;
}

.text-display-3 {
    font-size: 56px;
}

.text-display-4 {
    font-size: 112px;
}

.text-body-1, .text-body-2 {
    font-size: 13px;
}

.text-body-2 {
    font-weight: 500;
}

.text-headline {
    font-size: 24px;
}

.text-subheading {
    font-size: 15px;
}

.text-title {
    font-size: 20px;
    font-weight: 500;
}

@media screen and(max-width: 768px) {
    .text-subheading {
        font-size: 16px;
    }

    .text-body-1, .text-body-2, body {
        font-size: 14px;
    }
}
