@import 'typography.css';
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.app-bar,
.app-bar.fixed {
  height: 56px;
  width: 100%;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table;
}
.app-bar a,
.app-bar.fixed a {
  text-decoration: none;
}
.app-bar .nav-button,
.app-bar.fixed .nav-button,
.app-bar .actions,
.app-bar.fixed .actions,
.app-bar .title,
.app-bar.fixed .title {
  display: table-cell;
  vertical-align: middle;
}
.app-bar .actions,
.app-bar.fixed .actions {
  text-align: end;
}
.app-bar .actions li,
.app-bar.fixed .actions li {
  display: inline-block;
  margin-right: 8px;
}
.app-bar .actions li:last-of-type,
.app-bar.fixed .actions li:last-of-type {
  margin-right: 0;
}
.app-bar .action,
.app-bar.fixed .action,
.app-bar .nav-button,
.app-bar.fixed .nav-button {
  width: 42px;
  height: 42px;
}
.app-bar .action img,
.app-bar.fixed .action img,
.app-bar .nav-button img,
.app-bar.fixed .nav-button img,
.app-bar .action svg,
.app-bar.fixed .action svg,
.app-bar .nav-button svg,
.app-bar.fixed .nav-button svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.app-bar .nav-button,
.app-bar.fixed .nav-button {
  padding-left: 8px;
}
.app-bar .title,
.app-bar.fixed .title {
  font-size: 20px;
  font-weight: 700;
}
.app-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.app-bar.fixed + .main-content,
.app-bar.fixed + .drawer-layout {
  position: relative;
  top: 56px;
}
