.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
input[type=button],
input[type=submit],
button,
.btn,
.btn-raised {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #2196F3;
  text-decoration: none;
  cursor: default;
  border: none;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  box-sizing: border-box;
  min-width: 88px;
}
.btn {
  background-color: #fff;
  transition: background-color 0.2s;
}
.btn-raised {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px #E0E0E0;
  transition: box-shadow 0.2s;
}
.btn.disabled,
.btn-raised.disabled,
input[disabled],
button[disabled] {
  color: #BDBDBD;
}
.btn-raised.disabled,
input[disabled],
button[disabled] {
  box-shadow: none;
  border: 1px solid #eee;
}
@media screen and (max-width: 768px) {
  .btn:active {
    background-color: #e1e1e1;
    outline: none;
  }
  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }
}
@media screen and (min-width: 769px) {
  .btn {
    transition: background-color 0.2s;
  }
  .btn:hover {
    background-color: #fafafa;
  }
  .btn:active {
    background-color: #e1e1e1;
    outline: none;
  }
  .btn-raised:hover {
    box-shadow: 0 4px 4px #e0e0e0;
  }
  .btn-raised:active {
    box-shadow: 0 0 4px #e0e0e0;
  }
  .btn-raised.disabled:hover,
  input[disabled]:hover,
  button[disabled]:hover {
    box-shadow: none;
  }
  .btn.disabled:hover {
    background-color: transparent;
  }
}
