table {
  width: 100%;
  margin: 16px auto;
}
thead td {
  font-weight: bold;
  background-color: #EEEEEE;
}
td {
  padding: 8px;
}
table.bordered {
  border: 1px solid #EEEEEE;
}
table.striped tr:nth-of-type(even) td {
  background-color: #f5f5f5;
}
