@import 'typography.css';
@import "../_partials";

.app-bar, .app-bar.fixed {
  height: 56px;
  width: 100%;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table;
  a {
    text-decoration: none;
  }
  .nav-button, .actions, .title {
    display: table-cell;
    vertical-align: middle;
  }

  .actions {
    text-align: end;
    li {
      display: inline-block;
      margin-right: 8px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  .action, .nav-button {
    width: 42px;
    height: 42px;

    img, svg {
      display: inline-block;
      .square(24px);
    }
  }

  .nav-button {
    padding-left: 8px;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }
}

.app-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}

.app-bar.fixed + .main-content, .app-bar.fixed + .drawer-layout {
  position: relative;
  top: 56px;
}