@import 'typography.css';
.app-bar,
.app-bar.fixed {
  height: 56px;
  width: 100%;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table;
}
.app-bar a,
.app-bar.fixed a {
  text-decoration: none;
}
.app-bar .nav-button,
.app-bar.fixed .nav-button,
.app-bar .actions,
.app-bar.fixed .actions,
.app-bar .title,
.app-bar.fixed .title {
  display: table-cell;
  vertical-align: middle;
}
.app-bar .actions,
.app-bar.fixed .actions {
  text-align: end;
}
.app-bar .actions li,
.app-bar.fixed .actions li {
  display: inline-block;
  margin-right: 8px;
}
.app-bar .actions li:last-of-type,
.app-bar.fixed .actions li:last-of-type {
  margin-right: 0;
}
.app-bar .action,
.app-bar.fixed .action,
.app-bar .nav-button,
.app-bar.fixed .nav-button {
  width: 42px;
  height: 42px;
}
.app-bar .action img,
.app-bar.fixed .action img,
.app-bar .nav-button img,
.app-bar.fixed .nav-button img,
.app-bar .action svg,
.app-bar.fixed .action svg,
.app-bar .nav-button svg,
.app-bar.fixed .nav-button svg {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.app-bar .nav-button,
.app-bar.fixed .nav-button {
  padding-left: 8px;
}
.app-bar .title,
.app-bar.fixed .title {
  font-size: 20px;
  font-weight: 700;
}
.app-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.app-bar.fixed + .main-content,
.app-bar.fixed + .drawer-layout {
  position: relative;
  top: 56px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.navigation-drawer .header {
  padding: 8px 16px;
  height: 150px;
  position: relative;
  background: #eee;
}
.navigation-drawer .title {
  position: absolute;
  font-size: 24px;
  bottom: 8px;
}
.navigation-drawer .nav .link {
  display: block;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  text-decoration: none;
  color: #212121;
}
.navigation-drawer .nav .link:hover {
  background-color: #f5f5f5;
}
.navigation-drawer .icon,
.navigation-drawer .label {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  font-size: 15px;
  font-weight: 500;
}
.navigation-drawer .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.noscroll {
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .navigation-drawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 300;
  }
  .navigation-drawer .drawer-content {
    position: relative;
    top: 0;
    left: 0;
    width: 85%;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    max-width: 360px;
    will-change: transform;
    transform: translateX(-85vw);
  }
  .navigation-drawer:before {
    content: '';
    display: block;
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    will-change: opacity;
  }
  .navigation-drawer.animating .drawer-content {
    transition: transform 0.4s ease;
  }
  .navigation-drawer.animating:before {
    transition: opacity 0.4s;
  }
  .navigation-drawer.visible {
    pointer-events: auto;
  }
  .navigation-drawer.visible:before {
    opacity: 0.6;
    transition-delay: 0.2s;
  }
  .navigation-drawer.visible .drawer-content {
    transform: translateX(0vw);
  }
}
@media screen and (min-width: 1280px) {
  .drawer-layout {
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: table;
  }
  .app-bar .nav-button {
    transform: translateX(-80px);
  }
  .app-bar .title {
    transform: translateX(-42px);
  }
  .navigation-drawer,
  .main-content {
    display: table-cell;
  }
  .navigation-drawer {
    width: 15vw;
    max-width: 240px;
  }
  .navigation-drawer .drawer-content {
    height: 100%;
    border: 1px solid;
  }
  .main-content {
    width: 70vw;
    vertical-align: top;
  }
  .app-bar.fixed + .drawer-layout {
    position: relative;
    top: 56px;
    z-index: 100;
  }
}
