div#drawer-layout {

  @media screen and(min-width: 1280px) {
    span.large-display {
      display: inline;
    }

    span.small-display {
      display: none;
    }
  }

  @media screen and(max-width: 1279px) {
    span.large-display {
      display: none;
    }

    span.small-display {
      display: inline;
    }
  }

}