@import 'index';
@import 'appbar';
@import 'typography';
@import 'drawer-layout';

.app-bar {
  margin-bottom: 16px;
  background-color: #00897B;
  color: #eee;
  a {
    color: #eee;}
  svg {
    fill: #EEEEEE;
  }
}

.app-bar.fixed ~ .main-content {
  position: relative;
  top: 72px;
}

.navigation-drawer {
  .drawer-content { background-color: #fafafa; }
  .header {
    background: url('../images/nav-bg.jpg') no-repeat center;
  }
  .title {
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 1px 1px 0 #000;
  }

}

code {
  background-color: #FFEBEE;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  color: #B71C1C;
}

.container {
  padding: 8px 24px;
}

p {
  margin-bottom: 8px;
  line-height: 120%;
}

pre {
  margin: 8px 0;
  &.prettyprint {
    padding: 8px;
    white-space: pre-wrap;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    overflow-x: auto;
  }

}

table.style-listing {
  width: 100%;
  border: 1px solid #f5f5f5;
  margin-bottom: 8px;
  thead td {
    font-weight: 700;
  }
  td {
    padding: 8px;
  }
}

.text-body-2 {
  margin-bottom: 8px;
}

.text-subheading, .text-headline {
  margin-bottom: 8px;
}