<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap/reset.css">
    <link rel="stylesheet" href="stylesheets/bootstrap/typography.css">
    <link rel="stylesheet" href="stylesheets/bootstrap/appbar.css">
    <link rel="stylesheet" href="stylesheets/bootstrap/drawer-layout.css">
    <link rel="stylesheet" href="../node_modules/google-code-prettify/bin/prettify.min.css">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
<div class="app-bar fixed">
    <a href="#" class="nav-button drawer-toggle" id="btnMenu">
        <script type="application/xml" src="stylesheets/icons/menu.svg"></script>
    </a>
    <span class="title">{{ title }}</span>
</div>
<div class="drawer-layout">
    <div class="navigation-drawer" id="mainNavigation">
        <div class="drawer-content">
            <div class="header">
                <h2 class="title">Main navigation</h2>
            </div>
            <ul class="nav">
                <li>
                    <a href="appbar.html" class="link">
                        <span class="label">App Bar</span>
                    </a>
                </li>
                <li>
                    <a href="reset.html" class="link">
                        <span class="label">CSS Reset</span>
                    </a>
                </li>
                <li>
                    <a href="dialogs.html" class="link">
                        <span class="label">Dialogs</span>
                    </a>
                </li>
                <li>
                    <a href="drawer-layout.html" class="link">
                        <span class="label">Drawer Layout</span>
                    </a>
                </li>
                <li>
                    <a href="form-controls.html" class="link">
                        <span class="label">Form Controls</span>
                    </a>
                </li>
                <li>
                    <a href="tables.html" class="link">
                        <span class="label">Tables</span>
                    </a>
                </li>
                <li>
                    <a href="typography.html" class="link">
                        <span class="label">Typography</span>
                    </a>
                </li>
                {#<li>
                    <a href="grid.html" class="link">
                        <span class="label">The Grid System</span>
                    </a>
                </li>#}
            </ul>
        </div>
    </div>
    <div class="main-content">
        {% block body %}{% endblock %}
    </div>
</div>
<!-- footer>
    &copy; 2016 Revise Labs Ltd.
</footer -->
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/google-code-prettify/bin/prettify.min.js"></script>
<script src="javascript/html-escape.js"></script>
<script src="javascript/svg-replacer.js"></script>
<script src="javascript/bootstrap/drawer-layout.js"></script>
<script>
    $(function() {
        $("script[type*=xml]").swapSVG();
        prettyPrint();
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>