<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="stylesheets/bootstrap/reset.css">
    <link rel="stylesheet" href="stylesheets/test/appbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        .app-bar { background-color: #33acfe; color: #f3f3f3
        }
    </style>
</head>
<body>
<div class="app-bar">
    <a href="#" class="nav-button drawer-toggle">
        <script type="application/xml" src="stylesheets/icons/back.svg"></script>
    </a>
    <a href="#" class="title">Title</a>
    <ul class="actions">
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
    </ul>
</div>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="javascript/svg-replacer.js"></script>
<script>
    $(function() {
        $("script[type*=xml]").swapSVG();
        prettyPrint();
    });
</script>
</body>
</html>