{#TODO: Attempt to put a button/text link in the app bar .actions section. Make sure layout holds. #}

{% extends '_main.njk' %}

{%  set title = "The App Bar" %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/appbar.css">
{% endblock %}

{% block body %}
    <div id="app-bar" class="container">
        <h3 class="text-subheading">{{ title }}</h3>

        <p>
            The app bar serves as the main point of navigation within the application. To create an app bar as shown
            above, include the <code>appbar.css</code> style component:
        </p>
    <pre class="prettyprint">
        {% set html = '<link rel="stylesheet" href="stylesheets/components/appbar.css">' %}
{{ html }}
    </pre>
        <p>And use the following markup: </p>
    <pre class="prettyprint">
        {% set html = '<div class="app-bar">
    <a href="#" class="title">Title</a>
    <ul class="actions">
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
    </ul>
</div>
<div class="main-content"><!-- Main content goes here --></div>' %}
{{ html }}
    </pre>
        <p>
            If you wish to wire up a hamburger menu and have slide navigation, check out <a href="drawer-layout.html">Drawer Layouts</a>.
        </p>
        <p>
            <strong>Note:</strong> The <code>.app-bar</code> must be followed by or be a sibling of a <code>.main-content</code>
            element.
        </p>
        <h3 class="text-body-2">Styling the App Bar</h3>
        <p>
            You can style the app bar using regular CSS. To style the app bar, use the CSS selector <code>.app-bar [component]</code> where
            component is any one of the following:
        </p>
        <table class="style-listing">
            <thead>
                <tr>
                    <td>Component</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>.actions</code></td>
                    <td>The list of icons to the right of the app bar. By default it's a <code>ul</code>.</td>
                </tr>
            <tr>
                <td><code>.action</code></td>
                <td>An element that is (by default) 42px by 42px. <code>img</code> and <code>svg</code> elements usually go inside this
                    item and are sized at 24px by 24px.</td>
            </tr>
            <tr>
                <td><code>.title</code></td>
                <td>The text/graphic that goes in the app bar. See guidelines below for choosing an appropriate title element.</td>
            </tr>

            </tbody>
        </table>

        <h3 class="text-body-2">A Fixed App Bar</h3>
        <p>
            To make the app bar fixed as content scrolls beneath it, simple add a class of <code>.fixed</code> to the
            <code>.app-bar</code> element. Doing this causes a couple extra steps to be required for styling the
            <code>.main-content</code> element though.
        </p>
        <p>
            To target the <code>.main-content</code> element in your own code, you must use the <code>.app-bar.fixed ~ .main-content</code>
            selector.
        </p>
        <h2 class="text-subheading">Types of Nav Bars</h2>
        <h3 class="text-body-2">Simple</h3>
        <div>
            <div class="app-bar demo">
                <div class="title">Simple Nav Bar</div>
            </div>
        </div>
        <h3 class="text-body-2">Title and actions</h3>
        <div>
            <div class="app-bar demo">
                <div class="title">Title</div>
                <ul class="actions">
                    <li><a href="#" class="action"><script type="application/xml" src="stylesheets/icons/ic_check_48px.svg"></script></a></li>
                    <li><a href="#" class="action"><script type="application/xml" src="stylesheets/icons/ic_refresh_48px.svg"></script></a></li>
                </ul>
            </div>
        </div>
        <h3 class="text-body-2">Title and nav button</h3>
        <div>
            <div class="app-bar demo">
                <a href="#" class="nav-button"><script type="application/xml" src="stylesheets/icons/menu.svg"></script></a>
                <div class="title">Title</div>
            </div>
        </div>
        <h3 class="text-body-2">Full</h3>
        <div>
            <div class="app-bar demo">
                <a href="#" class="nav-button"><script type="application/xml" src="stylesheets/icons/menu.svg"></script></a>
                <div class="title">Full Nav Bar</div>
                <ul class="actions">
                    <li><a href="#" class="action"><script type="application/xml" src="stylesheets/icons/ic_check_48px.svg"></script></a></li>
                    <li><a href="#" class="action"><script type="application/xml" src="stylesheets/icons/ic_refresh_48px.svg"></script></a></li>
                </ul>
            </div>
        </div>
        <p>Just include/exclude elements as you need.</p>
        <h3 class="text-body-2">Guidelines</h3>

        <p>Below are some guidelines for implementing an app bar: </p>
        <ol>
            <li>Don't make the <code>.title</code> element too long (truncation isn't built in yet).</li>
            <li>Don't include more than three "action" items (icons to the right). It hurts usability.</li>
            <li>An app bar doesn't need to have a nav button or action buttons, in which case it's not much of a
                navigation element, now is it?
            </li>
        </ol>
    </div>
{% endblock %}
