{% extends '_main.njk' %}

{% set title = "Dialogs" %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/bootstrap/dialogs.css">
    <link rel="stylesheet" href="stylesheets/bootstrap/form-controls.css">
{% endblock %}

{% block body %}
    <div id="dialogs" class="container">
        <h3 class="text-subheading">Dialogs</h3>
        <p>
            Dialogs are a great way of getting the user's attention. As great as they are though, use sparingly.
            A dialog can include pretty much any type of content (even forms!) but it is recommended that you keep
            dialog content very concise.
        </p>
        <p>
            Dialogs should be declared as a topmost element or have no parent element. They can be
            declared at the bottom of your page code for readability. Follow the steps below to use dialogs.
        </p>
        <h4 class="text-body-2">1. Import the correct CSS and javascript components</h4>
        {% set html = '<link rel="stylesheet" href="stylesheets/components/dialogs.css />
<!-- jQuery import here -->
<script type="text/javascript" src="javascript/components/dialogs.js"></script>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <h4 class="text-body-2">2. Dialog markup</h4>
        {% set html = '<div class="dialog">
    <div class="dialog-content">
        <div class="header">
            <span class="title">This is the dialog header</span>
        </div>
        <div class="body">
            Dialog content. This can be anything.
        </div>
        <div class="actions">
            <button class="action btn">Cancel</button> <button class="action btn">OK</button> <!-- A couple buttons for dialog actions -->
        </div>
    </div>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <h4 class="text-body-2">3. Wire up JavaScript</h4>
        <p>
            Use the <code>dialogs.js</code> component to open and close the dialog.
        </p>
            {% set html = 'var $dialog = $("#myDialog").dialog();

function showDialog() {
    $dialog.open();
}
function hideDialog() {
    $dialog.close();
}' %}
        <pre class="prettyprint">{{ html }}</pre>
        <h3 class="text-body-2">Demonstration</h3>
        Click the button to open a dialog. <button onclick="showDialog()" class="btn-raised">Open Dialog</button>

        <div class="dialog">
            <div class="dialog-content">
                <div class="header">
                    <span class="title">Dialog demonstration</span>
                </div>
                <div class="body">
                    This is how a dialog looks.
                </div>
                <div class="actions">
                    <button class="action btn" onclick="hideDialog()">Cancel</button> <button class="action btn" onclick="hideDialog()">OK</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="javascript/bootstrap/dialogs.js"></script>
    <script>
        var $dialog = $(".dialog").dialog();

        function showDialog() {
            $dialog.open();
        }

        function hideDialog() {
            $dialog.close();
        }

    </script>
{% endblock %}