<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="stylesheets/bootstrap/reset.css">
    <link rel="stylesheet" href="stylesheets/test/appbar.css">
    <link rel="stylesheet" href="stylesheets/test/drawer-layout.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style>
        .app-bar { background-color: #33acfe; color: #f3f3f3
        }
    </style>
</head>
<body>
<div class="app-bar">
    <a href="#" class="nav-button drawer-toggle">
        <script type="application/xml" src="stylesheets/icons/menu.svg"></script>
    </a>
    <a href="#" class="title">Title</a>
    <ul class="actions">
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
    </ul>
</div>
<div class="drawer-layout drawer-toggle">
    <div class="navigation-drawer">
        <div class="drawer-content">
            <div class="header">
                <h2 class="title">Navigation</h2>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" class="link">
                        <span class="icon"><img src="path/to/icon.png" alt="#"></span> <!-- optional -->
                        <span class="label">Link</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <h3 class="text-headline">Testing drawer layout</h3>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="javascript/svg-replacer.js"></script>
<script src="javascript/bootstrap/drawer-layout.js"></script>
<script>
    $(function() {
        $("script[type*=xml]").swapSVG();
        prettyPrint();
    });
</script>
</body>
</html>