{% extends '_main.njk' %}

{% set title = "Drawer Layouts" %}

{% block body %}
    <div id="drawer-layout" class="container">
        <h2 class="text-subheading">{{ title }}</h2>
        <p>
            The creation of a drawer layout has been greatly simplified. With just a little bit of copying and pasting, you get the benefits
            of a fully responsive slide navigation layout for free. All animations make use of CSS3 2D/3D transforms so you get great performance
            on mobile devices.
        </p>
        <p>
            The drawer and the associated toggle button will automatically appear on viewports narrower than 1280px.
            <span class="small-display">You are currently seeing the navigation drawer because your viewport is narrower than 1280px</span>
            <span class="large-display">To see the navigation drawer, resize your window to about 1260px wide.</span>
        </p>
        <p>You can adjust this breakpoint in the <code>stylesheets/components/drawer-layout.css</code> file.</p>
        <p>
            To create a drawer layout, follow these simple steps:
        </p>
        <h3 class="text-body-2">1. Include relevant CSS files</h3>
        {% set html = '<link rel="stylesheet" href="components/reset.css" />
<link rel="stylesheet" href="components/appbar.css" />
<link rel="stylesheet" href="components/drawer-layout.css" />' %}
        <pre class="prettyprint">{{ html }}</pre>
        <h3 class="text-body-2">2. Add <code>.drawer-layout</code> after the <code>.app-bar</code></h3>
        {% set html = '<div class="drawer-layout">' %}
        <pre class="prettyprint">{{ html }}</pre>
        <h3 class="text-body-2">3. Include the required markup inside that <code>div</code></h3>
        {% set html = '<div class="navgation-drawer">
    <div class="drawer-content">
        <div class="header">
            <h2 class="title">Navigation</h2>
        </div>
        <ul class="nav">
            <li>
                <a href="#" class="link">
                    <span class="icon"><img src="path/to/icon.png" alt="#"></span> <!-- optional -->
                    <span class="label">Link</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <!-- Main content goes here -->
</div>' %}
<pre class="prettyprint">{{ html }}</pre>
        <h3 class="text-body-2">Full Drawer Layout</h3>
        {% set html = '<div class="app-bar">
    <a href="#" class="nav-button drawer-toggle">
        <img src="path/to/image.png" alt="#">
    </a>
    <span class="title">Title</span>
    <ul class="actions">
        <li><a href="#" class="action"><img src="path/to/image.png" alt="#"></a></li>
        <!-- Place up to three of these -->
    </ul>
</div>
<div class="drawer-layout">
    <div class="navigation-drawer">
        <div class="drawer-content">
            <div class="header">
                <h2 class="title">Navigation</h2>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" class="link">
                        <span class="icon"><img src="path/to/icon.png" alt="#"></span> <!-- optional -->
                        <span class="label">Link</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <!-- Main content goes here -->
    </div>
</div>
' %}
        <pre class="prettyprint">{{ html }}</pre>
        <h3 class="text-body-2">Opening and closing the drawer</h3>
        <p>
            Notice how a <code>.nav-button</code> element was added before the <code>.title</code> in the app bar? This should serve as the "hamburger menu"
            button for opening and closing the navigation drawer and should be given an additional class of <code>.drawer-toggle</code>.
        </p>
        <p>
            To make the drawer slide in and out, include the accompanying <code>drawer-layout.js</code> file in your code and have all
            the JavaScript wired up for you for free.  <strong>Note:</strong> this feature requires jQuery.
        </p>
        {% set html = '<script src="javascript/components/drawer-layout.js"></script>' %}

        <pre class="prettyprint">{{ html }}</pre>

        <h3 class="text-body-2">Styling the Navigation Drawer</h3>
        <p>
            Like anything else, the navigation drawer can be styled using regular CSS. <strong>Note:</strong> The full CSS selector for targeting navigation drawer components is <code>.navigation-drawer [component]</code>
            or <code>.navigation-drawer.visible [component]</code>.</p>
        <p>Target the following classes to style the navigation drawer to your your linking:</p>
        <table class="style-listing">
            <thead>
            <tr>
                <td>Class name</td>
                <td>Component</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><code>.drawer-content</code></td>
                <td>The container element for all of the content in the navigation drawer.</td>
            </tr>
            <tr>
                <td><code>.header</code></td>
                <td>
                    The header portion of the drawer. Use a CSS <code>background: </code> property to set a background colour or a cool image.
                    <br>
                    Image should be 360px x 150px or fit that aspect ratio. <span class="text-body-2">DO NOT PLACE AN <code>img</code>
                    TAG IN THE HEADER.
                    </span>
                </td>
            </tr>
            <tr>
                <td><code>.title</code></td>
                <td>The title of the navigation drawer.</td>
            </tr>
            <tr>
                <td><code>.nav</code></td>
                <td>All of the main navigation links. It's a <code>ul</code> and I recommend you keep it that way.</td>
            </tr>
            <tr>
                <td><code>.link</code></td>
                <td>The container element for the navigation link. Style the <code>&lt;a/&gt;</code> tag to control the width and
                    height of the navigation link. </td>
            </tr>
            <tr>
                <td><code>.icon</code></td>
                <td>An optional graphical element to complement the navigation link. Currently sized to 24px by 24px.
                    Place the <code>img</code> or <code>svg</code> tag inside this element.
                </td>
            </tr>
            <tr>
                <td><code>.label</code></td>
                <td>The text portion of the navigation link.</td>
            </tr>
            </tbody>
        </table>
        </p>
        <h3 class="text-body-2">Additional Components</h3>
        <p>
            With the drawer layout you can include a menu button to the left of the app/page title (see code snippet in step 3 above). You can target it and style it
            using the following selector:
        </p>
        <table class="style-listing">
            <tr>
                <td><code>.app-bar .nav-button</code></td>
                <td>This is what would usually be referred to as the "hamburger menu" button and is the leftmost item of the app bar.</td>
            </tr>
        </table>

    </div>
{% endblock %}