{# TODO: Create form controls documentation #}
{% extends '_main.njk' %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/bootstrap/form-controls.css">
{% endblock %}

{% set title = "Form Controls" %}

{% block body %}
    <div id="form-controls" class="container">
        <h3 class="text-subheading">{{ title }}</h3>
        <p>
            Styling information for form input controls is stored in the <code>form-controls.css</code> file.
            Import that into your project along with <code>reset.css</code>
        </p>
        {%  set html = '<link rel="stylesheet" href="stylesheets/components/reset.css" />
<link rel="stylesheet" href="stylesheets/components/form-controls.css" />' %}
        <pre class="prettyprint">{{ html }}</pre>

        <h3 class="text-body-2">Text Inputs</h3>
        <p>
            Text inputs are based on the following template:
        </p>
        {% set html = '<div class="field required">
    <label>Label</label>
    <input type="text" class="text-input">
    <ul class="errors visible">
        <li class="error">Invalid</li>
    </ul>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field required">
            <label>Label</label>
            <input type="text" class="text-input">
            <ul class="errors visible">
                <li class="error">Invalid</li>
            </ul>
        </div>
        <p>
            To get inputs next to each other, just add a class of <code>.inline</code> to the <code>.field</code> element.
            <br><strong>Note: </strong>Inline fields will be rendered as block level elements on viewports smaller than 768px.
        </p>
        {% set html = '<div class="field inline">
    <label>Email Address</label>
    <input type="email" class="text-input">
</div>
<div class="field inline">
    <label>Password</label>
    <input type="password" class="text-input">
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field inline">
            <label>Email Address</label>
            <input type="email" class="text-input">
        </div>
        <div class="field inline">
            <label>Password</label>
            <input type="password" class="text-input">
        </div>
        <div class="field inline"><button class="btn-raised">Log in</button></div>

        <p>
            Declare <code>textarea</code> elements as you normally would. Just be sure to wrap them in a <code>.field</code>
            element to get all the nice styling.
        </p>
        {% set html = '<div class="field">
    <label>Address</label>
    <textarea name="address" cols="30" rows="5"></textarea>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field">
            <label>Address</label>
            <textarea name="address" cols="30" rows="5"></textarea>
        </div>

        <h3 class="text-body-2">Select Box</h3>
        <p>Select boxes are a standard affair. Just wrap them in a <code>.field</code> element as well.</p>
        {% set html = '<div class="field">
    <select name="select">
        <option value="0">-- Please Select an Option --</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
    </select>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field">
            <select name="select">
                <option value="0">-- Please Select an Option --</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
            </select>
        </div>
        <h3 class="text-body-2">Checkboxes</h3>
        <p>
            Checkboxes work just like the regular inputs above, but you need to add a <code>.checkbox</code> class
            to the <code>.field</code> element and declare the checkboxes using the following template.
        </p>
        {% set html = '<div class="field checkbox">
    <input type="checkbox" id="cb1"> <label for="cb1">Single checkbox</label>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field checkbox">
            <input type="checkbox" id="cb1"> <label for="cb1">Single checkbox</label>
        </div>
        <p>
            If you have multiple checkboxes, you can add a <code>.label</code> element to give the group some context.
        </p>
        {% set html = '<div class="field checkbox">
    <p class="label">Options</p>
    <input type="checkbox" id="cb-1"><label for="cb-1">Checkbox</label>
    <input type="checkbox" id="cb-2"><label for="cb-2">Checkbox</label>
    <input type="checkbox" id="cb-3"><label for="cb-3">Checkbox</label>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field checkbox">
            <p class="label">Options</p>
            <input type="checkbox" id="cb-1"><label for="cb-1">Checkbox</label>
            <input type="checkbox" id="cb-2"><label for="cb-2">Checkbox</label>
            <input type="checkbox" id="cb-3"><label for="cb-3">Checkbox</label>
        </div>

        <h3 class="text-body-2">Inline Checkboxes</h3>

        <p>
            To get checkboxes to line up next to each other, simply add a <code>.inline</code> class to the <code>.field.checkbox</code>
            element.
        </p>
        {% set html = '<div class="field checkbox inline">
    <div class="label">Inline checkboxes</div>
    <input type="checkbox" id="cb-inline-1"><label for="cb-inline-1">Inline checkbox</label>
    <input type="checkbox" id="cb-inline-2"><label for="cb-inline-2">Inline checkbox</label>
    <input type="checkbox" id="cb-inline-3"><label for="cb-inline-3">Inline checkbox</label>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field checkbox inline">
            <div class="label">Choose some</div>
            <input type="checkbox" id="cb-inline-1"><label for="cb-inline-1">Inline checkbox</label>
            <input type="checkbox" id="cb-inline-2"><label for="cb-inline-2">Inline checkbox</label>
            <input type="checkbox" id="cb-inline-3"><label for="cb-inline-3">Inline checkbox</label>
        </div>

        <h3 class="text-body-2">Radio Buttons</h3>
        <p>
            Radio buttons function the same way as checkboxes. Just add a class of <code>.radio</code> to a <code>.field</code>
            element.
        </p>
        {% set html = '<div class="field radio">
    <input type="radio" id="radio-1" name="radio-1" checked> <label for="radio-1">Option 1</label>
    <input type="radio" id="radio-2" name="radio-1"> <label for="radio-2">Option 2</label>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>

        <div class="field radio">
            <input type="radio" id="radio-1" name="radio-1" checked> <label for="radio-1">Option 1</label>
            <input type="radio" id="radio-2" name="radio-1"> <label for="radio-2">Option 2</label>
        </div>

        <h3 class="text-body-2">Inline Radio Buttons</h3>
        <p>
            As with checkboxes, add a class of <code>.inline</code> to a <code>.field.radio</code> element.
        </p>
        {% set html = '<div class="field radio inline">
    <input type="radio" id="radio-3" name="radio-2" checked> <label for="radio-3">Option 1</label>
    <input type="radio" id="radio-4" name="radio-2"> <label for="radio-4">Option 2</label>
</div>' %}
        <pre class="prettyprint">{{ html }}</pre>
        <div class="field radio inline">
            <input type="radio" id="radio-3" name="radio-2" checked> <label for="radio-3">Option 1</label>
            <input type="radio" id="radio-4" name="radio-2"> <label for="radio-4">Option 2</label>
        </div>
        <h2 class="text-subheading">Buttons</h2>
        <p>
            Buttons are pretty simple. Just add a class of <code>.btn</code> or <code>.btn-raised</code> to any anchor tags or
            input/button elements. Buttons don't <em>have</em> to be inside of a <code>.field</code> element, but it's recommended.
        </p>
        <p>There are two types of buttons, each designed with a different purpose in mind.</p>
        <h3 class="text-body-2">1. Flat Button</h3>
        <p>
            Flat buttons are better used in dialogs.
            {% set html = '<a class="btn">Button</a> <a class="btn disabled">Disabled</a>' %}
        <pre class="prettyprint">{{ html }}</pre>
        <a class="btn">Button</a> <a class="btn disabled">Disabled</a>
        </p>
        <h3 class="text-body-2">2. Raised Button</h3>
        <p>
            Raised buttons are better suited for forms.
            {% set html = '<input type="button" class="btn-raised" value="Button"> <input type="button" class="btn-raised" value="Disabled" disabled>' %}
        <pre class="prettyprint">{{ html }}</pre>
        <input type="button" class="btn-raised" value="Button"> <input type="button" class="btn-raised" value="Disabled" disabled>
        </p>
    </div>
    {#TODO: Include selectors for styling input elements #}
{% endblock %}