{#TODO: Complete grid documentation #}

{% extends '_main.njk' %}

{% set title = "The Grid System" %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/bootstrap/grid.css">
{% endblock %}

{% block body %}
    <div id="grid" class="container">
        <h2 class="text-subheading">{{ title }}</h2>
    </div>
{% endblock %}