{# TODO: Make this more meaningful. #}

{% extends "_main.njk" %}

{% set title = "Revise Labs CSS Starter Kit" %}

{% block body %}

<div id="index" class="container">
    <h1 class="text-subheading">{{ title }}</h1>

</div>


{% endblock %}