{% extends '_main.njk' %}

{% set title = "CSS Reset" %}

{% block body %}

    <div class="container">
        <h2 class="text-subheading">CSS Reset</h2>
        <p>
            The CSS reset included does pretty much what every other CSS reset does - removes all margins, paddings,
            list styles and other razzle-dazzle and gives you a clean design slate to work with. It is highly recommended that
            the CSS reset be included before the inclusion of any of the other components.
        </p>

        <h2 class="text-subheading">How to use</h2>
        <p>
            Include the <code>reset.css</code> file in the page.
        </p>
<pre class="prettyprint">
{% set html = '<link rel="stylesheet" href="stylesheets/components/reset.css">' %}
{{ html }}
</pre>
        <p>
            I recommend you go into the <code>reset.css</code> file and include/exclude rules to suit your project.
        </p>
    </div>

{% endblock %}