{% extends '_main.njk' %}

{% set title = "Tables" %}

{% block styles %}
    <link rel="stylesheet" href="stylesheets/bootstrap/tables.css" />
{% endblock %}

{% block body %}
    <div id="tables" class="container">
        <h3 class="text-subheading">{{ title }}</h3>
        <p>
            Revise Labs Boilerplate comes with some handy styles for making the creation of snazzy tables easy.
        </p>
        <h3 class="text-body-2">Basic Table</h3>
        <p>
            Simply include the <code>tables.css</code> file in your code...
        </p>
        {% set html = '<link rel="stylesheet" href="stylesheets/components/tables.css" />' %}
        <pre class="prettyprint">{{ html }}</pre>
        <p>
            ...and create your tables using the following structure:
        </p>
            {% set html = '<table>
    <thead>
        <tr>
            <td>Item</td>
            <td>Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Something</td>
            <td>Definition</td>
        </tr>
        <tr>
            <td>Something</td>
            <td>Definition</td>
        </tr>
    </tbody>
</table>' %}
        <pre class="prettyprint">{{ html }}</pre>
        <table>
            <thead>
            <tr>
                <td>Item</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            </tbody>
        </table>
        <h3 class="text-body-2">Bordered Table</h3>
        <p>
            Simply add a class of <code>.bordered</code> to a <code>table</code> element.
        </p>
        <table class="bordered">
            <thead>
            <tr>
                <td>Item</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            </tbody>
        </table>
        <h3 class="text-body-2">Striped Table</h3>
        <p>
            And of course everybody's favourite, a striped table. Get this by adding a class of <code>.striped</code> to a <code>table</code> element.
        </p>
        <table class="striped">
            <thead>
            <tr>
                <td>Item</td>
                <td>Value</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            <tr>
                <td>Something</td>
                <td>Definition</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}