{% extends '_main.njk' %}

{% set title = "Typography" %}

{% block body %}
    <div id="typography" class="container">
        <h1 class="text-subheading">Typography</h1>
        <p>
            The Roboto font is used as the primary typeface for this boilerplate framework. Check out the <code>typography.css</code> file for details.
        </p>
        <h3 class="text-body-2">How to use</h3>
        <p>
            Include the <code>typography.css</code> class in your page.
        </p>
        <pre class="prettyprint">
            {% set html = "<link rel=stylesheet href=components/typography.css />" %}
{{ html }}
        </pre>
        <h3 class="text-body-2">Preview</h3>
        <p>
            The table below lists all the classes and how they look as rendered fonts.
        </p>
        <table>
            <tr>
                <td>.text-display-4</td>
                <td class="text-display-4">Display 4</td>
            </tr>
            <tr>
                <td>.text-display-3</td>
                <td class="text-display-3">Display 3</td>
            </tr>
            <tr>
                <td>.text-display-2</td>
                <td class="text-display-2">Display 2</td>
            </tr>
            <tr>
                <td>.text-display-1</td>
                <td class="text-display-1">Display 1</td>
            </tr>
            <tr>
                <td>.text-headline</td>
                <td class="text-headline">Headline</td>
            </tr>
            <tr>
                <td>.text-title</td>
                <td class="text-title">Title</td>
            </tr>
            <tr>
                <td>.text-subheading</td>
                <td class="text-subheading">Subheading</td>
            </tr>
            <tr>
                <td>.text-body-2</td>
                <td class="text-body-2">Body 2</td>
            </tr>
            <tr>
                <td>.text-body-1</td>
                <td class="text-body-1">Body 1</td>
            </tr>
            <tr>
                <td>.text-caption</td>
                <td class="text-caption">Caption</td>
            </tr>
            <tr>
                <td>.text-button</td>
                <td class="text-button">Button</td>
            </tr>
        </table>
    </div>

{% endblock %}